.deleteModal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-size: 1.3rem;

  button{
    padding: 0 1.5rem;
    height: 4rem;
    margin: 0.5rem;
    width: 10rem;
    
    background-color: #838383;
    color: #FFF;
    border-radius: 0.25rem;
    border: 0;

    font-size: 1rem;
    font-weight: 600;
    margin-top: 1.5rem;

    cursor: pointer;

    transition: filter 0.3s;

    &:hover{
        filter: brightness(1.2);
    }

  }

  .deleteButton{
    background-color: #c02929;
  }
}